.PortfolioCard {
    flex: 1 1 300px;
    margin: 5px;
    position: relative;
}

.PortfolioCard img {
    width: 100%;

}

/* 
.PortfolioCard .overlay{
    position:absolute;
    top:0;
    background: rgba(255, 255, 255, 0.7);
    height:100%;
    width:100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    display:none;
}
.PortfolioCard .overlay .links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:50%;
}
.PortfolioCard:hover .overlay{
    display: flex;
} */

/* HTML: <div class="ribbon">Your text content</div> */
/* HTML: <div class="ribbon">Your text content</div> */
.ribbon {
    font-size: 28px;
    font-weight: bold;
    color: #fff;
}

.ribbon {
    --f: .5em;
    /* control the folded part*/
    --r: .8em;
    /* control the ribbon shape */

    position: absolute;
    top: 20px;
    right: calc(-1*var(--f));
    padding-inline: .25em;
    line-height: 1.8;
    background: green;
    border-bottom: var(--f) solid #0005;
    border-left: var(--r) solid #0000;
    clip-path:
        polygon(var(--r) 0, 100% 0, 100% calc(100% - var(--f)), calc(100% - var(--f)) 100%,
            calc(100% - var(--f)) calc(100% - var(--f)), var(--r) calc(100% - var(--f)),
            0 calc(50% - var(--f)/2));
}

.ribbon a:hover {
    color: black;
}

.ribbon a:visited {
    color:red;
}

.ribbon h3:hover {
    color: black;
}

.ribbon h3:visited {
    color:red;
}