.Header{
    height:10vh;
    background:black;
    display: flex;
    justify-content: space-between;
    align-items:center;
    color:green;
}



.Header h1 {
    display:flex;
    align-items: center;
    background:grey;
    color:black;
    /* border: solid red; */
    height:80%;
    margin-left:5px;
    padding:5px;
    --mask: 
    linear-gradient(#000 0 0) center/calc(100% - 12px) calc(100% - 12px) no-repeat,
    conic-gradient(from  135deg at top   ,#0000,#000 1deg 89deg,#0000 90deg) 0 0   /12px 6px space no-repeat,
    conic-gradient(from  -45deg at bottom,#0000,#000 1deg 89deg,#0000 90deg) 0 100%/12px 6px space no-repeat,
    conic-gradient(from   45deg at left  ,#0000,#000 1deg 89deg,#0000 90deg) 0 0   /6px 12px no-repeat space,
    conic-gradient(from -135deg at right ,#0000,#000 1deg 89deg,#0000 90deg) 100% 0/6px 12px no-repeat space;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}
