.About {
    margin:3%;
}
.About img {
    float:left;
    width:25%;
    margin: 20px;
    margin-bottom: 40px;
}

.About p{
    margin:10px;
    font-size: 80px;
    text-align: center;
}

.About h2{
    margin:10px;
    font-size: 50px;
    
}

