.Content {
    min-height:80vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background:black
   
}

.Content >section {
    width:80%;
    /* border-radius: 0 30px; */
    border:1px solid black;
    /* box-shadow:inset -5px -5px 10px black,5px 5px 10px black; */
    min-height:70vh;
    background: grey;
    --mask: 
    linear-gradient(#000 0 0) center/calc(100% - 12px) calc(100% - 12px) no-repeat,
    conic-gradient(from  135deg at top   ,#0000,#000 1deg 89deg,#0000 90deg) 0 0   /12px 6px space no-repeat,
    conic-gradient(from  -45deg at bottom,#0000,#000 1deg 89deg,#0000 90deg) 0 100%/12px 6px space no-repeat,
    conic-gradient(from   45deg at left  ,#0000,#000 1deg 89deg,#0000 90deg) 0 0   /6px 12px no-repeat space,
    conic-gradient(from -135deg at right ,#0000,#000 1deg 89deg,#0000 90deg) 100% 0/6px 12px no-repeat space;
  -webkit-mask: var(--mask);
          mask: var(--mask);
    
}