.Header{
    height:10vh;
    background:blue;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.Header h1 {
    display:flex;
    align-items: center;
    border-radius:0 15px;
    background:red;
    height:80%;
    margin-left:5px;
    padding:5px;
    box-shadow:5px 5px 12px black ;
}