.Nav {
    flex:0 0 50%;
    align-self: normal;
    display:flex;

}
.Nav>ul {
    display:flex;
    flex:0 0 100%;
    list-style-type: none;
    justify-content: flex-end;
    align-self: normal;
    align-items: center;
    margin:10px;
}

.Nav>ul>li {
    /* height:100%; */
    margin:10px;
    height:100%;
    display:flex;
    /* flex-grow:1; */
   justify-content: center;
    align-items: center;
}

.Nav>ul>li:hover {
   background:grey;
    opacity: 0.9;
   /* border-radius:15px 0; */
    cursor: pointer;
    border: solid green;
    transition:all ease 0s;
}

 .active{
    background:grey;
    color:black;
    transform: scale(1.1);
    /* border-radius:15px 0; */
     cursor: pointer;
     border: solid green;
     transition:all ease 0s;
}